<div class="footer">
    <ul class="foot1">
        <li><h5>Study Abroad</h5></li>
        <a href=""><li>How to choose your destination</li></a>
    </ul>
    <ul class="foot1">
        <li><h5>Useful Links</h5></li>
        <a href=""><li>IDP Blog</li></a>
    </ul>
    <ul class="foot1">
        <li><h5>IELTS</h5></li>
        <a href=""><li>What is IELTS</li></a>
    </ul>
    <ul class="foot1">
        <li><h5>Connect with IDP</h5></li>
        <a href=""><li>IDP in the news</li></a>
    </ul>
</div>
