.sign{
  background-color: blanchedalmond;
  padding: 50px;
  margin-top: 20px;
}

.signin{
  
    width: 515px;
    margin: auto;
    margin-top: 50px;
    box-shadow: 0 0 4px;
    border-radius: 10px;
}


.grenconri{
  
    width: 515px;
 
    margin: 0;
  margin-right: 150px;
  background-color: white;
  border-radius: 5px;
    padding-bottom: 20px;
  padding-left: 20px;
}
.grenconlf h1{
    font-size: 64px;
    color: white;
 
}

.grenconlf p{
    font-size: 24px;
    color: rgba(255, 255, 255, 0.7);
   
}

.mesg table td{
    padding-left: 10px;
}
.td1{
    font-size: 18px;
    color: white;
}
.td2{
    font-size: 16px;
    color: rgba(255, 255, 255, 0.7);
}
.mesg{
    display: inline-block;
}
.s{
    display: inline-block;
    margin-left: 120px;
}
.formhead{
    display: flex;
}
.formtxt{
    width: 300px;
    
}
.formimg{
    margin-left: 60px;
    padding-top: 20px;
}
.formtxt1{
    font-weight: 900;
    font-size: 22px;
    color: #00221c;
    padding-top: 20px;
}
.formtxt2{
  
    font-size: 16px;
    color: #51596c;
}

input{
   
    border:1px solid #e5e8e8;
    border-radius: 5px;
    width: 475px;
    height: 50px;
}
#radio1{
    width: 20px;
    height: 15px;
   
    
}
.radio1{
    border:1px solid #e5e8e8;
    width: 210px;
    padding:15px 0 15px 0;
    border-radius: 5px;
    display: inline-block;
  
}

#radio2{
    width: 20px;
    height: 15px;
   
    
}
.radio2{
    margin-left: 50px;
}
.button3{
   
    background-color: #008060;
    border-radius: 5px;
    border-color:#008060;
    color: white;
    font-size: 18px;
}
.form h2{
    font-size: 14px;
    color: #8c98a4;
    text-align: center;
}

.button3:hover{
    box-shadow: 0 0 5px #008060;
}
.form a{
    color: #005c45;
    text-decoration: none;
}
.clear{
    clear: both;
}
hr{
    width: 80%;
    text-align: center;
    border: 1px solid #1a6d58;
    margin-top: 70px;
}
.review1{
  
    width: 300px;
    
    display: inline-block;
    margin-top: 70px;
   margin-left: 70px;
   
}
.review{
 
    margin-left: 70px;
    padding-left: 70px;
}
.star{
   margin-left: 10px;
}
.review p{
    padding:15px;
    font-size: 20px;
    color: white;
}
.starlogo{
    margin-left: 10px;
}
.belowgreen{
    text-align: center;
    margin-top: 125px;
}
.belowgreen h1{
    font-size: 34px;
    color: #00221c;
}
.belowgreen p{
    font-size: 18px;
    color:#51596c;
}