
<div class="sign">
<div class="signin">
<div class="grenconri">
    <div class="formhead">
    <div class="formtxt">
      <p class="formtxt1">Join Space</p>
      <p class="formtxt2">Hundreds of companies using Space to build their business.</p>
     
    </div>
    <div class="formimg">
      <img src="assets/chat.png" width="150px">

    </div>
  </div>

  <div class="form">
    <form>
      <label>Your name</label><br><br>
      <input id="name" placeholder="Type Your Name">
      
      <br><br>
      <label>Your Email</label><br><br>
      <input id="email" placeholder="example@site.com">
      <br><br>
      <label>Company Size</label><br><br>
      <div class="radio1">
     
      <input  id="radio1" name="size"type="radio">1-10
      </div>
      <div class="radio1 radio2">
     
        <input  id="radio2" name="size" type="radio">More than 10
      </div>

      <br><br>
      <input type="button"  class="button3" value="Start your free 30-days trail">
    </form>
    <h2>Need help? &nbsp;<a href="#">Visit Our Help centre? &nbsp;&nbsp;<span class="glyphicon glyphicon-chevron-right"></span></a></h2>
  </div>
    

     
  </div>
</div>

</div>