.greencon{
    border: 1px solid #005c45 ;
    background-color:#005c45;
   padding-top: 80px;
   overflow: auto;
   padding-bottom: 115px;
   margin-top: 50px;
    
    
}
.grenconlf{

    width: 705px;
   margin-left: 125px;
  
  
  
   
}

.grenconri{
  
    width: 515px;
   float: right;
    margin: 0;
  margin-right: 150px;
  background-color: white;
  border-radius: 5px;
    padding-bottom: 20px;
  padding-left: 20px;
}
.grenconlf h1{
    font-size: 64px;
    color: white;
 
}

.grenconlf p{
    font-size: 24px;
    color: rgba(255, 255, 255, 0.7);
   
}

.mesg table td{
    padding-left: 10px;
}
.td1{
    font-size: 18px;
    color: white;
}
.td2{
    font-size: 16px;
    color: rgba(255, 255, 255, 0.7);
}
.mesg{
    display: inline-block;
}
.s{
    display: inline-block;
    margin-left: 120px;
}