 
      <div class="greencon">
        <div class="grenconlf">
           <h1>Solving Problems for Every team.</h1>
           <p>Built on standard web technology, teams use Space to build beautiful cross-platform hybrid apps in a fraction of the time.</p>
      
           <div class="mesg">
            <table>
      
              <tr>
                <th rowspan="2"><i class="fa fa-comments" style="font-size:50px;color:white"></i></th>
                <td class="td1">24 Hours</td>
              </tr>
              <tr>
                <td class="td2">Response Time</td>
              </tr>
            </table>
           </div>
           <div class="s">
            <table>
      
              <tr>
                <th rowspan="2"><i class="fa fa-comments" style="font-size:50px;color:white"></i></th>
                <td class="td1">24 Hours</td>
              </tr>
              <tr>
                <td class="td2">Response Time</td>
              </tr>
            </table>
           </div>
           
        </div>
        
      
        
        
      
      </div>
 