<div class="topnav">
  <img src="assets/logo.svg" height="70">
  <div class="topnavlft">
      <ul>
          <li><a routerLink="landing">Landings</a></li>
        
          <li><a href="#" class="page">Pages</a></li>
          <li ><DIV>About us</DIV>

            
         
         
          <li><a routerLink="contactus">Contact us</a></li>
          <li>|</li>
          <li><button routerLink="login" class="button2">Log In</button></li>
          <li><button routerLink="signin" class="button1"> <i class="fa fa-user" style="font-size:24px"></i>&nbsp; Sign In</button></li>
      </ul>

      <div>
           
      </div>
      

  </div>
  

</div>


<div class="clear">
    
</div>

<router-outlet></router-outlet>


<app-socialconnect></app-socialconnect>

