<div class="social">
<a href="https://www.facebook.com/" target="blank"><i class="fa fa-facebook-square" style="font-size:28px; color: #4267B2;" ></i></a><br>
<a href="https://www.whatsapp.com/" target="blank"><i class="fa fa-whatsapp" style="font-size:28px; color:#25D366;"></i></a><br>
<a href="https://www.linkedin.com/" target="blank"><i class="fa fa-linkedin-square" style="font-size:28px; color:#0e76a8;"></i></a><br>
<a href="https://in.pinterest.com/" target="blank"><i class="fa fa-pinterest-square" style="font-size:28px; color:	#E60023;"></i></a><br>
<a href="https://www.youtube.com/" target="blank"><i class="fa fa-youtube-play" style="font-size:28px; color:#FF0000;"></i></a><br>
      
</div>
<router-outlet></router-outlet>

