<div class="contactus">
    <div class="heading">
        <h1>Let's <span > talk</span></h1>
        <p>Got a question? Want to learn more about us? Get in touch.</p>
    </div>
    <div class="help">
    <div class="help1">
        <span class="glyphicon glyphicon-user"></span>
        <h2>Sales</h2>
        <p>Make your move to connected payments with the help of our advisors.</p>
        <h4>Get in touch  <span class="glyphicon glyphicon-chevron-right"></span></h4>


    </div>
    <div class="help1">
        <span class="glyphicon glyphicon-envelope"></span>
        <h2>Merchant-Support</h2>
        <p>Got a technical issue or need strategic advice? Our support team is here to help.</p>
        <h4  routerLink="gethelp">Get Help  <span class="glyphicon glyphicon-chevron-right"></span></h4>

    </div>
    <div class="help1">
        <span class="glyphicon glyphicon-briefcase"></span>
        <h2>Partnership</h2>
        <p>Let's team up to boost productivity and accelerate business growth</p>
        <h4 routerLink="partner">Become a partner  <span class="glyphicon glyphicon-chevron-right"></span> </h4>


    </div>
    </div>

</div>
<router-outlet></router-outlet>
